body {
    background-color: #2D2E30;
}

.keyboardRow {
    display: flex;
    justify-content: center;
}

/*
    Individual Key in keyboard display
        - height/width: adjust size of key
        - border radius: add curve to corners of key
        - text-align: center the text inside key div (adjusting the span)
*/
.key {
    background-color: #242527;
    height: 2rem;
    width: 2rem;
    border-radius: 10px;
    text-align: center;
    margin: 2px;
}

/*
    Space between game mode div and words display
*/
.numWordsMode {
    margin-bottom: 3rem;
}

/*
    Letter / Number spans
        - vertial-align: align span innertext to vertical center
*/
.number, .letter {
    color: #D3D3D3;
    vertical-align: middle;
}

/*
    Div containing 2 spans to display score
        - centered on page
*/
.scoreDisplay {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-size: 4rem;
    color: #D3D3D3;
}

/*
    Containing div for various game mode selectors

        - Right justify the div
            - width: 50%    (starts on left extends right up until 50% of page)
            - margin-left: 50% ("push" div to right side of page)
*/
.numWordsMode {
    display: flex;
    margin-left: 50%;
    width: 50%;
    padding-left: 10%;
}

/*
    Div for different game mode settings
*/
.gameSetting {
    display: flex;                  /* use flexbox */
    justify-content: center;        /* align span element in center of main (x) axis */

    background-color: #3f414d;
    height: 2rem;
    width: 2rem;
    border-radius: 10px;            /* rounded courners */
    margin: 2px;                    /* spac between each div (mode button) */
}

/*
    Span that displays number for "number of words" mode button
*/
.tenWords, .twentyFiveWords {
    font-size: small;
    color: #FFFFFF;
    font-weight: bold;
    align-self: center;             /* align text of span to be center of cross (y) axis */
}

/*
    Styling to represent an unselected mode button (color is faded)
*/
.unselectedMode {
    opacity: 50%;
}

/*
    Styling to show on keyboard display what key was pressed
        - keys change color as user presses a key
*/
.pressed-color {
    background-color: #84a59d;
}

/* Color of letter when user correctly / types a letter */
.correctLetterColor {
    color: #219EBC;
}


/* Color of letter when user types the wrong letter */
.wrongLetterColor {
    color: #F28482;
}


/*
    Start Button
        - margin left/right: center in page
        - margin top: space between button and keyboard dispaly
        - width: adjust size to make button smaller (orginally width of whole page due to row div)
*/
#startRestartButton {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    width: 10%;
}

/*
    Span to display words for typing game
        - text align: center in page
        - margin left/right: center span in page
        - width: make span width smaller 
*/
.typeWords {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    margin-bottom: 5%;

    font-size: 30px;
    color: #D3D3D3;
}