body {
    background-color: #2D2E30;
}

.keyboardRow {
    display: flex;
    justify-content: center;
}

.key {
    background-color: #242527;
    height: 2rem;
    width: 2rem;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin: 2px;
}

.number, .letter {
    color: #D3D3D3;
    vertical-align: middle;
}

.pressed-color {
    background-color: #84a59d;
}

#typeWords {
    text-align: center;
    font-size: 30px;
    color: #D3D3D3;
}
