<% layout("/layouts/boilerplate.ejs") %>

<!-- Script to add monkeytype.css stylesheet link>
    to the head of the boilerpalte.ejs  -->
<script>
    const link = document.createElement("link");
    link.setAttribute("rel", "stylesheet");
    link.setAttribute("href", "/stylesheets/monkeytype.css");
    document.head.appendChild(link);
</script>

<h1 class="title">Monkeytype</h1>

<div class="row">
    <span class="typeWords" id="typeWords">Press start to begin.</span>

    <!-- KEYBOARD -->
    <div class="keyboard" id="keyboard">
        <!-- <div class="keyboardRow" id="keyboardRow1">
            <div class="key" id="key1"><span class="number">1</span></div>
            <div class="key" id="key2"><span class="number">2</span></div>
            <div class="key" id="key3"><span class="number">3</span></div>
            <div class="key" id="key4"><span class="number">4</span></div>
            <div class="key" id="key5"><span class="number">5</span></div>
            <div class="key" id="key6"><span class="number">6</span></div>
            <div class="key" id="key7"><span class="number">7</span></div>
            <div class="key" id="key8"><span class="number">8</span></div>
            <div class="key" id="key9"><span class="number">9</span></div>
            <div class="key" id="key0"><span class="number">0</span></div>
            <div class="key" id="minus"><span class="number">-</span></div>
        </div> -->
        <div class="keyboardRow" id="keyboardRow2">
            <div class="key" id="keyQ"><span class="letter">q</span></div>
            <div class="key" id="keyW"><span class="letter">w</span></div>
            <div class="key" id="keyE"><span class="letter">e</span></div>
            <div class="key" id="keyR"><span class="letter">r</span></div>
            <div class="key" id="keyT"><span class="letter">t</span></div>
            <div class="key" id="keyY"><span class="letter">y</span></div>
            <div class="key" id="keyU"><span class="letter">u</span></div>
            <div class="key" id="keyI"><span class="letter">i</span></div>
            <div class="key" id="keyO"><span class="letter">o</span></div>
            <div class="key" id="keyP"><span class="letter">p</span></div>
            <div class="key" id="bracketLeft"><span class="letter">[</span></div>
            <div class="key" id="bracketRight"><span class="letter">]</span></div>
        </div>
        <div class="keyboardRow" id="keyboardRow3">
            <div class="key" id="keyA"><span class="letter">a</span></div>
            <div class="key" id="keyS"><span class="letter">s</span></div>
            <div class="key" id="keyD"><span class="letter">d</span></div>
            <div class="key" id="keyF"><span class="letter">f</span></div>
            <div class="key" id="keyG"><span class="letter">g</span></div>
            <div class="key" id="keyH"><span class="letter">h</span></div>
            <div class="key" id="keyJ"><span class="letter">j</span></div>
            <div class="key" id="keyK"><span class="letter">k</span></div>
            <div class="key" id="keyL"><span class="letter">l</span></div>
        </div>
        <div class="keyboardRow" id="keyboardRow4">
            <div class="key" id="keyZ"><span class="letter">z</span></div>
            <div class="key" id="keyX"><span class="letter">x</span></div>
            <div class="key" id="keyC"><span class="letter">c</span></div>
            <div class="key" id="keyV"><span class="letter">v</span></div>
            <div class="key" id="keyB"><span class="letter">b</span></div>
            <div class="key" id="keyN"><span class="letter">n</span></div>
            <div class="key" id="keyM"><span class="letter">m</span></div>
        </div>
        <div class="keyboardRow" id="keyboardRow5">
            <div class="key" id="space"><span class="letter">space</span></div>
        </div>
    </div>

    <button id="startRestartButton" type="button" class="btn btn-success">Start / Reset</button>
</div>


<script src="/javascripts/Monkeytype/wordsList.js"></script>
<script src="/javascripts/Monkeytype/monkeytypeFunctions.js"></script>
<script src="/javascripts/Monkeytype/monkeytype.js"></script>


<!-- Axios CDN Link -->
<!-- <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script> -->
